# Server
PORT=3001
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=ganti_dengan_string_random_panjang_minimal_32_karakter

# Google Sheets
GOOGLE_SHEET_ID=your_google_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Seed (optional)
ADMIN_EMAIL=admin@siuw.local
ADMIN_PASSWORD=admin123
